<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-script-type" content="text/javascript">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I'm Zhibek Kanatbekova, a learner programmer with passion to be yoda of full-stack programming.">
    <meta name="keywords" content="Zhibek Kanatbekova, Interactive Resume, Web developer, Startup, Interactive CV, Resume, CV, Algorithms, javascript">
    <title>Zhibek</title>

    <!--Local CSS style-->
      <link rel="stylesheet" href="./css/styles.css">


    <!-- Bootstrap links-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" type="text/css">

  </head>
 <body>
    <div id="first" class="jumbotron" >
      <div class="container">
        <h1>Zhibek Kanatbekova</h1>
        <p class="lead">Interactive resume</p>
      </div>
      <a href="#profile" class="scroll-down ">
        <i class="glyphicon glyphicon-chevron-down"></i>
			</a>
    </div>



    <div class="background-white">
			<div id="profile" class="container">
				<h2>Profile</h2>
     <p class="lead">I learn full-stack development</p>

      <hr>

      <div class="row">
        <div class="col-md-4">
          <h3>About me</h3>
          <p>
            I have  5 ‎years of work experience in ‎customer service and ‎sales.  I ‎am a highly  motivated and ‎hardworking person who is ‎very passionate  to  manipulate  the information efficiently on a website to make it appealing and effective.‎</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="./images/myphoto.png" alt="Zhibek Kanatbekova" width="200" height="200">
        </div>

        <div class="col-md-4">
            <h3>Details</h3>
            <p>
              <strong>Name:</strong><br>
              Zhibek Kanatbekova<br>
              <strong>Age:</strong><br>
              28 years<br>
              <strong>Location:</strong><br>
              Dubai, United Arab Emirates, Earth		</p>
        </div>
      </div>
     </div>
     </div>
      <div id="experiences" class="container">
          <h2>Experience</h2>
          <p class="lead">
            “Protons give an atom its identity, electrons its personality.”<br>- Bill Bryson, A short history of nearly everything
          </p>

            <hr>

          <h3>Educations</h3>

        <div class="experiences">

            <div class="experience row">
                <div class="col-md-4">
                  <h4>AIESEC  student committee ‎ ‎</h4>
                  <p class="experience-period">
                  July 2015
                  </p>
                </div>
                <div class="col-md-8">
                  <p>
                    <strong>‎"Entrepreneur" project‎ ‎‎</strong>
                    <span class="hidden-phone">
                      Researcher of start-up ‎
                    </span>
                    <span class="experience-details">
                      <span class="location">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        Bishkek (Kyrgyzstan)		</span>
                    </span>
                  </p>
                </div>
              </div>

           <div class="experience row">
              <div class="col-md-4">
                <h4>Ltd MobiMart ‎ ‎ ‎</h4>
                <p class="experience-period">
                June 2014 - August 2014‎
                </p>
              </div>
              <div class="col-md-8">
                <p>
                  <strong>‎Project "kuppi.kg” ‎‎‎</strong>
                  <span class="hidden-phone">
                  Sales promoter, researcher of start-up ‎ ‎
                  </span>
                  <span class="experience-details">
                    <span class="location">
                      <span class="glyphicon glyphicon-map-marker"></span>
                      Bishkek (Kyrgyzstan)		</span>
                  </span>
                </p>
            </div>
        </div>



        <div class="experience row">
          <div class="col-md-4">
            <h4>The Central Bank of Turkey‎</h4>
            <p class="experience-period">
              August 2014‎			</p>
          </div>
          <div class="col-md-8">
            <p>
              <strong>Internship</strong>
              <span class="hidden-phone">
              ‎●‎	Welcomed guests and clients by greeting them, in person or on the telephone
              ‎●‎	Provided support for our clients by correcting their documents’ mistakes and guided them through all ‎the procedures ‎
              ‎●‎	Answered or directed customers’ inquiries
              ‎●‎	Managed large amounts of incoming calls
              ‎●‎	Prepared reports by collecting and analysing information
              ‎●‎	Gave customers full information about the bank’s service ‎
              ‎●‎	Dealt with correspondence, complaints and queries
          </span>
              <span class="experience-details">
                <span class="location">
                  <span class="glyphicon glyphicon-map-marker"></span>
                  Ankara(Turkey)					</span>
              </span>
            </p>
          </div>
        </div>


      <div class="experience row">
        <div class="col-md-4">
          <h4>Kyrgyz-Turkish Manas University ‎</h4>
          <p class="experience-period">
            Sept 2010
            June 2015
          </p>
        </div>
        <div class="col-md-8">
          <p>
            <strong>Bachelor of Science in Management</strong>
            <span class="hidden-phone">
              ‎❖‎	The highest GPA in the university among graduates 2015year
    ‎           ❖‎	Was invited to practice in The Central Bank of Turkey (Ankara)‎
            </span>
            <span class="experience-details">
              <span class="location">
                <span class="glyphicon glyphicon-map-marker"></span>
                Bishkek (Kyrgyzstan)		</span>
            </span>
          </p>
        </div>
      </div>




    </div>



      <hr>

      <h3>Careers</h3>


      <div class="experiences">


        <div class="experience row">
          <div class="col-md-4">
            <h4>Etoile Group</h4>
            <p class="experience-period">
              February 2018				-
              current			</p>
          </div>
          <div class="col-md-8">
            <p>
              <strong>Fulltime - Sales Executive</strong>
              <span class="hidden-phone">
                Engaging new customers and strengthening existing relationships (CRM)
                ● Generating daily, monthly reports to monitor product performance,
                sales and market trends (PowerBi, DSR)
                ● Providing a friendly and helpful service to customers
                ● Ensuring sales targets are met/exceeded
                ● Responsible dealing with customer complaints
                ● Teaming up with colleagues to provide the best customer service
              </span>
              <span class="experience-details">
                <span class="location">
                  <span class="glyphicon glyphicon-map-marker"></span>
                  Dubai (UAE)					</span>


                <span class="seperator">|</span>
                <span class="link">
                  <span class="glyphicon glyphicon-link"></span>
                  <a href="https://www.etoilegroup.com" target="_blank">https://www.etoilegroup.com</a>
                </span>


              </span>
            </p>
          </div>
        </div>


      <div class="experience row">
        <div class="col-md-4">
          <h4>‎“Logos Centre” LLC</h4>
          <p class="experience-period">
            February 2017 – November 2017‎	</p>
        </div>
        <div class="col-md-8">
          <p>
            <strong>Customer Service Representative</strong>
            <span class="hidden-phone">
              ‎●‎	‎ Opening new destinations (Switzerland, Ireland, Malta, Turkey, ‎Cyprus)‎
              ‎●‎	Making agreements with international partners (HTMi, Sabanci, ‎METU)‎
              ‎●‎	Consulting clients regarding international institutes abroad, ‎educational systems and their differences
              ‎●‎	Providing VISA support
              ‎●‎	Arranging flight tickets, accommodation for customers
              ‎●‎	Keeping records of daily cash transactions of the company
              ‎●‎	Dealing with customers’ complaints
              ‎●‎	Providing 24/ 7 customer focused service ‎
            </span>
            <span class="experience-details">
              <span class="location">
                <span class="glyphicon glyphicon-map-marker"></span>
                Bishkek (Kyrgyzstan)				</span>


              <span class="seperator">|</span>
              <span class="link">
                <span class="glyphicon glyphicon-link"></span>
                <a href="http://logosgroup.kg" target="_blank">http://logosgroup.kg</a>
              </span>


            </span>
          </p>
        </div>
      </div>


      <div class="experience row">
        <div class="col-md-4">
          <h4>‎“El Tour” travel agency‎</h4>
          <p class="experience-period">
              September 2015 – January 2017‎		</p>
        </div>
        <div class="col-md-8">
          <p>
            <strong>Tour agent</strong>
            <span class="hidden-phone">
              ‎●‎	‎ Offering  face to face advice to customers on the company’s  ‎products like flight tickets, tours
              ‎●‎	Providing pricing information
              ‎●‎	Selling  tours and flight  tickets
              ‎●‎	Issuing refunds or compensation to customers;‎
              ‎●‎	Assisting, giving advice to clients in  finding  the tours they are ‎looking  for
              ‎●‎	Arranging flight tickets, accommodation for customers
              ‎●‎	Advising  customers about travel issues including required ‎documentation and financial matters, such as appropriate ‎exchange rates
          </span>
            <span class="experience-details">
              <span class="location">
                <span class="glyphicon glyphicon-map-marker"></span>
                    Bishkek (Kyrgyzstan)
                </span>
            </span>
           </p>
         </div>
       </div>
      </div>
      </div>

      <div id="projects" class="container">
			<h2>Projects</h2>
          <p class="lead">
            “You can do anything you set your mind to.”<br>- Benjamin Franklin
          </p>

          <hr>


        <div class="row">


                          <div class="col-md-6 col-sm-12 col-xs-12">
                            <h3>To know the current weather please enter the city name </h3>
                            <form action="/" method="POST">
                              <label for="city">City Name</label>
                              <input id="city" type="text" name="cityName" placeholder="Please enter the city name">
                              <button type="submit">Submit</button>
                            </form>
                            <div class="container">
                                <p class="requestResult"><%= results%></p>
                            </div>
                          </div>


                          <div class="col-md-6 col-sm-12 col-xs-12">
                            <figure class="effect">
                              <img src="/view/images/project_soap.jpg" alt="SOAP - Den Bosch">

                              <figcaption>
                                <h3>SOAP - Den Bosch</h3>
                                <p>Build the website of the local barbershop.</p>
                                <p><strong>Tags:</strong> <br>Design, Development, Bootstrap, Wordpress</p>
                                <a href="http://soaphair.nl" target="_blank">View more</a>
                                <span class="icon">
                                  <span class="glyphicon glyphicon-new-window"></span>
                                </span>
                              </figcaption>
                            </figure>
                          </div>


                          <div class="col-md-6 col-sm-12 col-xs-12">
                            <figure class="effect">
                              <img src="/view/images/project_oranjebitter.jpg" alt="Oranjebitter Rotterdam">

                              <figcaption>
                                <h3>Oranjebitter Rotterdam</h3>
                                <p>Build a website for the Oranjebitter Festival in Rotterdam (3 years in a row)</p>
                                <p><strong>Tags:</strong> <br>Development, Bootstrap, Wordpress</p>
                                <a href="http://oranjebitter-rotterdam.nl" target="_blank">View more</a>
                                <span class="icon">
                                  <span class="glyphicon glyphicon-new-window"></span>
                                </span>
                              </figcaption>
                            </figure>
                          </div>


	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="/view/images/project_oetelspel.jpg" alt="Oetelspel">

			<figcaption>
				<h3>Oetelspel</h3>
				<p>An online game specially for Carneval at 's-Hertogenbosch.</p>
				<p><strong>Tags:</strong> <br>Development, Concept, Founder</p>
				<a href="http://oetelspel.nl" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption>
		</figure>
	</div>


</div>

		  </div>

      <div class="background-white">
        <div id="abilities" class="container">
              <h2>Abilities</h2>
          <p class="lead">
            “Life without knowledge is death in disguise.”<br>- Talib Kweli
          </p>

              <hr>

              <h3>Skills</h3>

              <div class="row">


          <div class="col-md-6">
            <ul class="no-bullets">


              <li>
                <span class="ability-title">Bootstrap Framework</span>
                <span class="ability-score">


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                </span>
              </li>



              <li>
                <span class="ability-title">CSS(3)</span>
                <span class="ability-score">


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                </span>
              </li>



              <li>
                <span class="ability-title">HTML(5)</span>
                <span class="ability-score">


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                </span>
              </li>


              <li>
                <span class="ability-title">Command line Inteface</span>
                <span class="ability-score">


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star "></span>


                </span>
              </li>



              <li>
                <span class="ability-title">Javascript</span>
                <span class="ability-score">


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star "></span>


                </span>
              </li>


            </ul>
          </div>
          <div class="col-md-6">
            <ul class="no-bullets">


              <li>
                <span class="ability-title">Object Orientated Programming</span>
                <span class="ability-score">


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star "></span>


                </span>
              </li>


              <li>
                <span class="ability-title">Wordpress</span>
                <span class="ability-score">


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star "></span>


                </span>
              </li>



              <li>
                <span class="ability-title">BEM</span>
                <span class="ability-score">


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star "></span>


                  <span class="glyphicon glyphicon-star "></span>


                </span>
              </li>



              <li>
                <span class="ability-title">AngularJS</span>
                <span class="ability-score">


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star "></span>


                  <span class="glyphicon glyphicon-star "></span>


                  <span class="glyphicon glyphicon-star "></span>


                </span>
              </li>



              <li>
                <span class="ability-title">ElasticSearch</span>
                <span class="ability-score">


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star "></span>


                  <span class="glyphicon glyphicon-star "></span>


                  <span class="glyphicon glyphicon-star "></span>


                </span>
              </li>



              <li>
                <span class="ability-title">Ruby</span>
                <span class="ability-score">


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star "></span>


                  <span class="glyphicon glyphicon-star "></span>


                  <span class="glyphicon glyphicon-star "></span>


                  <span class="glyphicon glyphicon-star "></span>


                </span>
              </li>



            </ul>
          </div>


        </div>

        <hr>

    <h3>Languages</h3>

    <div class="row">


        <div class="col-md-6">
            <ul class="no-bullets">


              <li>
                <span class="ability-title">Kyrgyz (Mother tongue)</span>
                <span class="ability-score">


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                </span>
              </li>



          <li>
            <span class="ability-title">English</span>
            <span class="ability-score">


              <span class="glyphicon glyphicon-star filled"></span>


              <span class="glyphicon glyphicon-star filled"></span>


              <span class="glyphicon glyphicon-star filled"></span>


              <span class="glyphicon glyphicon-star filled"></span>


              <span class="glyphicon glyphicon-star filled"></span>


            </span>
          </li>



        </ul>
      </div>
      <div class="col-md-6">
        <ul class="no-bullets">



          <li>
            <span class="ability-title">Russian</span>
            <span class="ability-score">


              <span class="glyphicon glyphicon-star filled"></span>


              <span class="glyphicon glyphicon-star filled"></span>


              <span class="glyphicon glyphicon-star "></span>


              <span class="glyphicon glyphicon-star "></span>


              <span class="glyphicon glyphicon-star "></span>


            </span>
          </li>



          <li>
            <span class="ability-title">Turkish</span>
            <span class="ability-score">


              <span class="glyphicon glyphicon-star filled"></span>


              <span class="glyphicon glyphicon-star "></span>


              <span class="glyphicon glyphicon-star "></span>


              <span class="glyphicon glyphicon-star "></span>


              <span class="glyphicon glyphicon-star "></span>


            </span>
          </li>



        </ul>
      </div>


    </div>

      <hr>

      <h3>Tools</h3>

      <div class="row">

          <div class="col-md-6">
            <ul class="no-bullets">

              <li>
                <span class="ability-title">MS Office (10 years)</span>
                <span class="ability-score">


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                  <span class="glyphicon glyphicon-star filled"></span>


                </span>
              </li>

            </ul>
      </div>
      <div class="col-md-6">
        <ul class="no-bullets">


          <li>
            <span class="ability-title">Git / Git Flow (3months)</span>
            <span class="ability-score">


              <span class="glyphicon glyphicon-star filled"></span>


              <span class="glyphicon glyphicon-star"></span>


              <span class="glyphicon glyphicon-star"></span>


              <span class="glyphicon glyphicon-star"></span>


              <span class="glyphicon glyphicon-star "></span>


            </span>
          </li>

        </ul>
      </div>

      </div>
    </div>
      </div>

        <div class="background-gray">
          <div id="contact" class="container">
            <h2>Contact</h2>
        <p class="lead">
          “If I had asked people what they wanted, they would have said faster horses. ”<br>- Henry Ford
        </p>

        <hr>

      <div class="row">
          <div class="col-md-6">
            <ul class="no-bullets">
              <li>
                <a href="https://www.linkedin.com/in/zhibek-kanatbekova-93299b149" target="_blank">
                  <span class="icon icon-linkedin"></span>
                  https://www.linkedin.com/in/zhibek-kanatbekova-93299b149			</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="no-bullets">
              <!--<li>
                <a href="javascript:void(0);">
                  <span class="icon icon-skype"></span>
                  pascalvgemert				</a>
              </li>-->
              <li>
                <a href="mailto:jiko633@gmail.com">
                  <span class="icon icon-email"></span>
                  <span style="unicode-bidi:bidi-override;">
                  jiko633@gmail.com
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <hr>
      </div>
        </div>


   <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>
</html>